/* background behind the logo*/
#header-wrapper {
    background: #ee5b32;
    border-color: #b94727;
}

/* Background color of the menu */
#sidebar {
  background-color: #222;
}

/* Background color of the menu, when clicked */
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background-color: #666;
}


/* Color of all links, including arrows to get to previous and next pages */
a {
    color: #026ed2; 
}
a:hover {
   color: #049ccf;
}
